
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.listControl {
  padding-top:25px;
}

.searchContacts {
  margin-top: 30px;
  padding-left: -600px;
}


tbody tr:hover {
  background-color: #d1e1ca;
}


.contact-list-selector {
  position: relative;
  display: inline;

.list-input {
  border-bottom:1px solid;
}

  .contact-list-dropdown {
    position: absolute;
    width: 220px;
    left: 0;
    background-color: white;
    top: 32px;
    z-index: 999;
    border: 1px solid darkslategray;

    .lists {
      max-height: 270px;
      background-color: white;
      width: 100%;
      overflow: auto;
      border: 1px solid darkslategray;
      border-top: none;
    }
  }

  .selected {
    background-color: indianred;
  }
}

#FirstLast {
  position: absolute;
  padding:5px;
  border: 1px solid;
  background-color: white;
}

.contactListSelect {
  max-height: 250px;
  width: 218px;
  border: 1px black solid;

  .lists2 {
    max-height: 200px;
    background-color: white;
    width: 100%;
    overflow: auto;
    border-top: none;
  }
}

.select-input{
  position: fixed;
}